body {font-family: "Iosevka Web", "Libertation Mono", monospace;
	  color: Beige;
	  background-color: DarkSlateGray;
	  font-weight: normal;
      margin: auto;
      font-size: x-large;}
header     {background-color: grey; color: black; padding: 1%; margin: auto;}
header div {float: right; margin-left: 3%;}
footer {color: black;
        display: table;
        width: 100%;
        background: grey;
        background-color: grey;
        font-weight: bold;
        font-style: normal;}
footer img {margin: 1%; float: right;}
address {float: left; padding: 1%;}
/*@media (screen and max-device-width: 480px) {}
@media (screen and min-device-width: 1280px) {} */
