/*
@font-face {
	font-family: "JetBrainsMono";
	src: url("fonts/JetBrainsMono-Medium.ttf");
}

body {
	font-family: "JetBrainsMono";
	background-color: black;
	color: white;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 30px;
}

input {
	font-family: "JetBrainsMono";
	border: none;
	margin: unset;
	vertical-align: top;
}

form {
	margin: 0 auto;
	width: auto;
	padding: 1em;
	border: 3px solid white;
	border-radius: 1em;
}

#sbmtbtn {
    margin-left: 2em;
}

a 	{
	color: white;
}

textarea {
	font-family: "JetBrainsMono";
	font-size: medium;
}

<!-- -->

body {
	font-family: monospace;
	color: Beige;
	background-color: DarkSlateGray;
	font-size: large;
	display: table;
	height: 100%;
	width: 100%;
	margin: auto;
}

header {
    background-color: grey;
    color: black;
    padding: 1%;
    margin: auto;
}

header div {
	float: right;
	margin-top: auto;
	margin-right: 3%;
	font-size: xx-large;
}

article {
    width: 75%;
    margin: auto;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large
}

p::first-letter {
    font-size: xx-large;
}

a:link {
    color: MediumSpringGreen;
    text-decoration: none;
}

a:visited {
    color: LightPink;
    text-decoration: none;
}

a:hover {
    color: Ivory;
    text-decoration: none;
}

a:active {
    color: Gold;
    text-decoration: none;
}

table {
    border: thick solid black;
    margin: auto;
    border-collapse: collapse;
}

td, th {
    border: thick dotted black;
    padding: 1%;
}

caption {
    padding: 1%;
}

footer {
    display: table-row;
    height: 0;
    color: black;
    background-color: grey;
}

footer img {
    margin: 1%;
    float: right;
}

.profile-photo {
    margin: 1%;
    float: right;
}

address {
    float: left;
    padding: 3%;
}
*/
